body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
}
#wrapper{
	height: 100%;
	width: 100%;
}
section{
	margin:0;
}
/**************Polices Custom***************/
@font-face {
	font-family: 'BodoniXT';
	src: url('BodoniXT.woff2') format('woff2'),
	url('BodoniXT.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.woff2') format('woff2'),
	url('Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
h2{
	font-family: 'BodoniXT';
}
h4{
	font-family: 'Roboto';
}
/*************** Paramètres du Header ***************/
#header{
	position: fixed;
	width: 100%;
	height: 20%;
	background-color: #7dc2c0;
	display: flex;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	z-index: 10;
}
.colonneHeader{
	box-sizing: border-box;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 33.33%;
}
#permis{
	padding-right: 5%;
}
#permis h2{
	text-align: right;
	color: white;
	font-family: 'BodoniXT';
	letter-spacing: 0.015em;
}
#col1Container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: auto;
}
#logo{
	height: 100%;
	width: 40%;
	margin-left: 5%;
}
#illustration{
	height: 120px;
	width: auto;
	padding: 0;
}
#nom{
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	text-align: right;
	height: 100%;
	width: 60%;
}
#nom h1{
	font-size: 2.5rem;
}
#nom p{
	font-size: 1.1rem;
}
#nom h1, #nom p{
	margin: 0;
	text-align: left;
	color: white;
	font-family: 'BodoniXT';
	letter-spacing: 0.015em;
}
/********** Typos Divers ******/
.volets p{
	color: #3b5a59;
	font-family: 'Roboto';
}
li{
	color: #3b5a59;
	font-family: 'Roboto';
}
#coord h2{
	font-size: 1rem;
	color: white;
	font-family: 'Roboto';
	line-height: 1.5rem;
}
.lienT{
	font-size: 1.25rem;
	color:#3b5a59;
	margin: 0;
}
.lienT:hover{
	color: white;
}
#cv {
	font-family: 'Roboto';
	font-size: 1rem;
	margin: 0%;
}
a:link{
	text-decoration: none;
}
a:visited{
	color: red;
}
/* Paramètres des deux volets lateraux */
#voletMain{
	top: 20%;
	position: fixed;
	height: 70%;
	width: 100%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: row;
	align-content: center;
	z-index: 5;
}
.volets{
	width: 50%;
	background-color: #dbded0;
	text-align: center;
	transition-duration: 2s;
	z-index: 4;
}
#voletGauche{
	display: flex;
	flex-direction: row;
	align-content: center;
}
#voletDroite{
	display: flex;
	flex-direction: row;
	align-content: center;	
}
/********* Contenu Volet Gauche ********/
#textG{
	box-sizing: border-box;
	width: 90%;
	height: 100%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	overflow: auto;
}
/***** Divs des logos Adobe****/
#logiciels{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-content: space-around;
}
.log-col{
	display: flex;
	height: auto;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 20%;
	margin: 0;
}
.logoAdobe{
	width: auto;
	height: 70px;
}
/******* Contenu Volet Droite ********/
#textD{
	box-sizing: border-box;
	width: 90%;
	height: 100%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: right;
	overflow: auto;
}
/******* Boutons permettant l'activation du double shutter ***/
.activateur{
	cursor: pointer;
	height: 100%;
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #c4c7bb;
}
.arrowR{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2rem 0 2rem 2rem;
	border-color: transparent transparent transparent #dbded0;
	margin-left: 25%;
	margin-right: auto;
	transition: 2s;
	z-index: 10;
}
.arrowL{
	width: auto;
	height: 0;
	border-style: solid;
	border-width: 2rem 2rem 2rem 0;
	border-color: transparent #dbded0 transparent  transparent ;
	margin-right: 25%;
	margin-left: auto;
	transition: 2s;
	z-index: 10;
}
.arrowLHover{
	border-color:transparent black transparent transparent;
}
.arrowRHover{
	border-color:transparent transparent transparent black;
}
.arrowRChange{

	transform: scaleX(-1);
}
.arrowLChange{

	transform: scaleX(-1);
}
.voletGaucheChange{
	transform: translate(-90%);
	box-shadow: 1px 0px 10px 5px #979797;
	overflow: hidden;
	z-index: 10;
}
.voletDroiteChange{
	transform: translate(90%);
	box-shadow: 1px 0px 10px 5px #979797;
	overflow: hidden;
	z-index: 10;
}
/* Paramètres du volet central caché */
.voletCentral{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 20%;
	height: 70%;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	background-color: transparent;
	text-align: center;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}
.voletCentralShow{
	visibility: visible;
	opacity: 1;
}
.voletCentralIndex{
	z-index: 25;
}
/******* Div contenant les logos Tumblr ******/
#wrapperMosa p{
	text-align: center;
	font-size: 1.8rem;
	margin-top: 1%;
	color: black;
	font-family: 'Roboto';
}
#wrapperMosa{
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 2% 5%;
	height: 100%;
}
.wrapperH{
	display: flex;
	height: 50%;
	width: 100%;
	flex-direction: row;
	justify-content: center;
}
.chocolat{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	height: auto;
	margin-right: 5%;
	margin-left: 5%;
}
.button{
	width: 80%;
	height: auto;
}
.chocolat a:hover {
	transform: scale(1.25);
	transition: 1s;
}
/***** Parametres du footer ******/
#footer{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	bottom:0;
	height: 10%;
	width: 100%;
	text-align: center;
	background-color: #7dc2c0;
	z-index: 10;
}
#footer div{
	width: 33.33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#footerText{
	margin: 0;
}
/***** Media Queries ****/
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation:portrait){
	body{
		font-size: 12px;
	}
	#header{
		position: sticky;
	}
	#illustration{
		height: 100px;
	}
	#nom h1{
		font-size: 0.8rem;
	}
	#nom p{
		font-size: 0.5rem;
	}
	#nom h1, #nom p{
		text-align: right;
	}
	#coord h2{
		font-size: 0.55rem;
		line-height: 1rem;
	}
	#permis h2{
		font-size: 0.8rem;
	}
	#voletMain{
		position: relative;
		display: block;
		flex-direction: column;
		overflow: auto;
	}
	.volets{
		width: 100%;
		display: block;
	}
	.activateur{
		display: none;
	}
	#voletGauche{
		display: block;
		text-align: center;
		width: 100%;
	}
	#voletDroite{
		display: block;
		text-align: center;
		width: 100%;
	}
	.logoAdobe{
		width: auto;
		height: 40px;
	}
	#textG{
		margin-right: auto;
		margin-left: auto;
	}
	#textD{
		margin-right: auto;
		margin-left: auto;
	}
	.voletCentral{
		display: block;
		position: relative;
		visibility: visible;
		padding-top: 10%;
		padding-bottom: 25%;
		opacity: 1;
	}
	.chocolat{
		width: 100%;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.button{
		width: 100%;
	}
	#wrapperMosa p{
		text-align: center;
		font-size: 1rem;
		color: black;
		font-family: 'Roboto';
	}
	#footer{
		flex-direction: column;
	}
	#footer div{
		width: 100%;
		margin-top: 0.5%;
		margin-right: auto;
		margin-left: auto;
		flex-direction: row;
	}
}
@media (min-width: 480px) and (orientation:portrait){
	body{
		font-size: 12px;
	}
	#header{
		position: sticky;
	}
	#illustration{
		height: 100px;
	}
	#nom h1{
		font-size: 1.2rem;
	}
	#nom p{
		font-size: 0.75rem;
	}
	#nom h1, #nom p{
		text-align: right;
	}
	#coord h2{
		font-size: 0.75rem;
	}
	#permis h2{
		font-size: 1rem;
	}
	#voletMain{
		position: relative;
		display: block;
		flex-direction: column;
		overflow: auto;
	}
	.volets{
		width: 100%;
		display: block;
	}
	.activateur{
		display: none;
	}
	#voletGauche{
		display: block;
		text-align: center;
		width: 100%;
	}
	#voletDroite{
		display: block;
		text-align: center;
		width: 100%;
	}
	.logoAdobe{
		width: auto;
		height: 45px;
	}
	#textG{
		margin-right: auto;
		margin-left: auto;
	}
	#textD{
		margin-right: auto;
		margin-left: auto;
	}
	.voletCentral{
		display: block;
		position: relative;
		visibility: visible;
		padding-top: 10%;
		padding-bottom: 25%;
		opacity: 1;
	}
	.chocolat{
		width: 100%;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.button{
		width: 100%;
	}
	#wrapperMosa p{
		text-align: center;
		font-size: 1rem;
		color: black;
		font-family: 'Roboto';
	}
	#footer{
		flex-direction: column;
	}
	#footer div{
		width: 100%;
		margin-top: 0.5%;
		margin-right: auto;
		margin-left: auto;
		flex-direction: row;
	}
}
@media (min-width: 720px) and (max-width: 1280px) and (orientation:landscape) {
	body{
		font-size: 16px;
	}
	#illustration{
		height: 100px;
	}
	#nom h1{
		font-size: 1.8rem;
	}
	#nom p{
		font-size: 1.25rem;
	}
	#nom h1, #nom p{
		text-align: right;
	}
	#coord h2{
		font-size: 1rem;
	}
	#permis h2{
		font-size: 1.2rem;
	}
	.logoAdobe{
		width: auto;
		height: 50px;
	}
	.chocolat{
		width: 100%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.button{
		width: 60%;
	}
	#wrapperMosa p{
		text-align: center;
		font-size: 1rem;
		color: black;
		font-family: 'Roboto';
	}
	#footer{
		flex-direction: column;
	}
	#footer div{
		width: 100%;
		margin-top: 0.5%;
		margin-right: auto;
		margin-left: auto;
		flex-direction: row;
	}
}
@media (min-width: 1280px) and (max-width: 1440px) {
	body{
		font-size: 16px;
	}
	#illustration{
		height: 100px;
	}
	#nom h1{
		font-size: 1.8rem;
	}
	#nom p{
		font-size: 1.25rem;
	}
	#nom h1, #nom p{
		text-align: right;
	}
	#coord h2{
		font-size: 1rem;
	}
	#permis h2{
		font-size: 1.2rem;
	}
	.logoAdobe{
		width: auto;
		height: 50px;
	}
	.chocolat{
		width: 100%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.button{
		width: 60%;
	}
	#wrapperMosa p{
		text-align: center;
		font-size: 1rem;
		color: black;
		font-family: 'Roboto';
	}
	#footer{
		flex-direction: column;
	}
	#footer div{
		width: 100%;
		margin-top: 0.5%;
		margin-right: auto;
		margin-left: auto;
		flex-direction: row;
	}
}
/*		@media (min-width: 1440px) and (max-width: 1920px) {
		}
		@media (min-width: 1921px) {
		}*/