<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[TEMPLATE]</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<!-- Page Wrapper -->
	<div id="wrapper">

	<!--Section du Header-->
		<section class="section">

		<!-- Fixed Header -->
			<div id="monHeader">
				<div class="container">
					<div class="col-1">
					</div>
					<div class="col-2">
						<h1>[TITRE DE LA PAGE]</h1>
						<!-- MODIFIER FONT-SIZE ET MARGIN-TOP DANS LE CSS POUR CHAQUE RESOLUTION -->
					</div>
					<div class="col-3">
						<img id="embedded_logo" src="img/logo_ics.png" alt="logo ICS">
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer>
		</footer>
	</div>
</body>
</html>