* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 40px;
}

#calculatrice {
	width: 40%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	background-color: #bababa;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.calculatrice {
	background-color: grey;
	border : 2px solid black;
}

.ecran {
	width: 100%;
	margin: 5px;
	background-color: #57e1f9;
	text-align: right;
}
.cell {
	width: 25%;
	padding: 10px 0;
	margin: 5px;
	border : 2px solid black;
	text-align: center;
}

.mid{
	width: 50%;
}