body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0%;
	font-size: 16px;
}
p, h2, a{
	font-family: 'CF Remington Typewriter';
	font-size: 2rem;
	color: white;
}
a {
	text-decoration: none;
	margin: 0; 
}
#arobase{
	font-size: 1.5rem;
	font-family: 'Verdana';
}
h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
@font-face {
	font-family: 'Boston Traffic';
	src: url('BostonTraffic.woff2') format('woff2'),
	url('BostonTraffic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CF Remington Typewriter';
	src: url('CFRemingtonTypewriter-Regular.woff2') format('woff2'),
	url('CFRemingtonTypewriter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
#wrapper{
	background-color: #5A5A5C;

	/*background-image: url("img/bois.jpg");*/
}
section{
	width: 100%;
	text-align: center;
}
#titre{
	background-color: #5A5A5C;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#titre h1{
	font-family: 'Boston Traffic';
	font-size: 3rem;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 25px;
}
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #35363B;
	padding: 0;
	/*	background-image: url("img/bois.jpg");*/
	font-size: 1.3rem;
	color: white;
	/*	border-bottom: 2px solid black;*/
}
nav a{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
nav h2 {
	cursor: pointer;
	margin: 1% 2%;
}
nav h2:hover{
	transform: scale(1.2);
	transition-duration: 0.5s;
}
#contactFormModal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 50px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9);
}
#coord{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.container{
	margin: 0% auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	height: 80%;
	width: auto;
	max-width: 700px;
}
.closeForm {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.closeForm:hover,
.closeForm:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}
#envoi{
	width: 20%;
}
#champText{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#fond{
	height: auto;
	width: 100%;
}
#mosa{
/*	display: flex;
	flex-direction: row;
	justify-content: center;*/
	background-color: #5A5A5C;
}
#mosa img{
	margin-top: 1%;
	min-width: 150px;
	width: 18%;
	border: 2px solid white;
	box-sizing: border-box;
}
#rowImage{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*flex-wrap: wrap;*/
}
.image{
	min-width: 150px;
	width: 24%;
	height: 5%;
	height: auto;
	background-color: white;
	box-sizing: border-box;
	border: 10px solid white;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 5%;
}
.miniature{
	width: 100%;
}
.image:hover{
	filter: blur(3px);
	transition: 0.5s;
	cursor: zoom-in;
}
#reseau{
	padding: 5% 0%;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.logo{
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.logo:hover{
	cursor: pointer;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 50px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
	margin: 0% auto;
	display: block;
	height: 80%;
	width: auto;
	max-width: 700px;
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media (orientation: portrait){
	p, h1, h2, a{
		font-size: 1.5rem;
	}
	#titre h1{
		font-size: 1.5rem;
	}
	#rowImage{
		flex-direction: column;
	}
	.image{
		width: 90%;
		margin: 10px auto;
	}
	#main{
		width: 90%;
		margin: 0% 5%;
	}
	nav{
		padding: 20px 20%;
	}
	nav a{
		margin: 0;
		box-sizing: border-box;
		width: 50%;
		padding: 10px;
		text-align: center;
	}
	nav a h2{
		margin: 0;
		padding: 0;
	}
	nav a h2:hover{
		transform: none;
	}
	.modal-content{
		max-width: 90%;
		height: auto;
	}
	.logo{
		height: 40px;
		width: 40px;
	}